In [13]:
xnn_dir = '/home/kimm/article-information-2019/data/xnn_output/hmda_results/'
import pandas as pd
FF = pd.read_csv(xnn_dir + "Results_hmda_Feature_Importance.csv")

In [14]:
FF.iloc[0:4,]

,Unnamed: 0,0,Quintile 1,Quintile 2,Quintile 3,Quintile 4,Quintile 5
0,term_360,0.000939,0.001586,0.000587,0.000611,0.000821,0.001090
1,conforming,0.001832,0.001852,0.002882,0.001575,0.001615,0.001233
2,debt_to_income_ratio_missing,0.000098,0.000002,0.000009,0.000080,0.000160,0.000240
3,loan_amount_std,0.091109,0.017668,0.052857,0.137062,0.095144,0.152797

In [15]:
Rx=pd.read_csv(xnn_dir + 'Results_hmda_Ridge_x_values.csv')
Ry=pd.read_csv(xnn_dir + 'Results_hmda_Ridge_y_values.csv')

Projection =pd.read_csv(xnn_dir + "Results_hmda_projection_layer.csv")

TEST = pd.read_csv(xnn_dir + "Results_hmda_test_set.csv")

In [16]:
Rx.iloc[0:4,]

,0,1,2,3,4,5,6,7,8,9,...,160328,160329,160330,160331,160332,160333,160334,160335,160336,160337
0,2.335543,1.597680,2.919091,-1.681007,2.521086,2.129704,2.387972,2.476723,1.239486,-2.137280,...,0.164881,0.273480,1.162934,2.112231,0.394908,2.652478,2.779815,-11.954127,2.252782,-0.292165
1,-0.276851,0.045563,-0.995305,2.609509,-0.472061,-0.234642,-0.268604,-0.534115,0.547294,2.968693,...,1.572279,0.922242,0.446804,-0.384808,1.013189,-0.074171,-0.472869,17.024350,-0.775281,-0.117836
2,0.126251,-0.002144,14.620771,-2.340544,0.254937,0.094437,0.094391,0.270569,-0.274933,-1.375192,...,-1.015852,-1.177910,-0.727742,0.093753,-0.823122,0.370405,0.215201,-8.371941,0.213530,-0.729738
3,-0.841780,-0.075314,-43.715224,14.053692,-1.603057,-0.077355,-0.078904,-1.983504,1.827744,4.666825,...,5.634433,9.438020,5.634721,-0.077488,5.638252,-1.984570,-0.652568,-27.414086,-0.647001,5.724074

In [17]:
Ry.iloc[0:4,]

,0,1,2,3,4,5,6,7,8,9,...,160328,160329,160330,160331,160332,160333,160334,160335,160336,160337
0,-0.370169,-1.037894,0.115601,-4.017170,-0.242608,-0.519382,-0.332164,-0.268116,-1.401395,-4.395118,...,-2.488157,-2.381710,-1.479081,-0.532048,-2.258483,-0.167061,-0.093845,-8.829772,-0.430162,-2.866744
1,-0.085899,0.116075,-0.085899,2.750704,-0.085899,-0.085899,-0.085899,-0.085899,0.631638,3.119791,...,1.684880,1.016922,0.528378,-0.085899,1.110377,-0.006960,-0.085899,10.856852,-0.085899,-0.051829
2,-0.290800,-0.290800,-0.009218,-0.290800,-0.184865,-0.290800,-0.290800,0.037603,-0.290800,-0.290800,...,-0.290800,-0.290800,-0.290800,-0.290800,-0.290800,0.302437,-0.290800,-0.290800,-0.290800,-0.290800
3,-7.602325,-16.680674,0.787758,-205.631000,-2.450162,-16.656475,-16.638119,0.893156,-42.129307,-80.097275,...,-93.037430,-143.904050,-93.041280,-16.654902,-93.088486,0.902526,-9.837343,0.787758,-9.903332,-94.236220

In [18]:
Projection.iloc[0:4,]

,0,1,2,3,4,5,6,7,8,9
0,0.262657,0.745570,-1.976029,3.632364,0.036709,-1.891651,-1.549397,-5.714129,1.413182,0.343731
1,0.818630,-0.099496,2.843008,-3.547327,0.289570,1.154813,0.924316,5.864204,-0.400530,0.026942
2,0.002458,-0.123668,-1.208149,2.205419,0.240694,3.504304,6.152006,-3.141529,-0.003201,0.000288
3,-0.075738,0.974311,-0.742784,0.013834,-5.721188,5.771848,-3.698259,-0.019782,0.057854,-0.002770

In [19]:
TEST.iloc[0:4,]

,Unnamed: 0,high_priced,term_360,conforming,black,asian,white,amind,hipac,hispanic,...,conforming_Shapley_score,debt_to_income_ratio_missing_Shapley_score,loan_amount_std_Shapley_score,loan_to_value_ratio_std_Shapley_score,no_intro_rate_period_std_Shapley_score,intro_rate_period_std_Shapley_score,property_value_std_Shapley_score,income_std_Shapley_score,debt_to_income_ratio_std_Shapley_score,Intercept_Shapley_score
0,131497,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,-0.000343,0.0,-0.000443,0.123565,-0.023575,0.027872,0.041322,0.018440,-0.082873,0.068418
1,851117,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000727,0.0,0.056954,0.036275,0.810829,-0.856231,-0.068758,0.002783,-0.012252,0.068418
2,835616,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.000335,0.0,-0.186659,0.223789,-0.040831,0.047227,0.205099,0.020906,0.045908,0.068418
3,121491,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.000096,0.0,-0.006908,-0.027597,-0.012200,0.011565,-0.025468,-0.000478,-0.000574,0.068418